/* TYPHOGRAPHY & IMAGES */
* {
  font-family: 'Lato', sans-serif;
}
a {
  color: #696a67;
}
.titoli a,.user-s a {
  color: white;
}
.head a:hover {
  text-decoration: none;
  color: white;
}
.daily a:hover {
  text-decoration: none;
  color: white;
}
.nav-sx a:hover {
  text-decoration: none;
  color: white;
}
.foot-er i:hover {
  color: white;
}
.play-y:hover {
  border: 1px solid white;
}
.title-track h3:hover, .title-track p:hover {
  text-decoration: underline;
}
.active {
  width: 10px;
  border-bottom: 2px solid #1db954;
}
.active-i {
  margin: auto;
  margin-top: 0px;
  width: 20px;
  border-bottom: 2px solid #1db954;
}
.active-ii {
  color: #1db954;
}
.daily img:hover {
  text-decoration: none;
  filter: opacity(.4);
}
.logo {
  height: 50px;
  width: 55%;
  margin-top: 35px;
}
.nav-text {
  height: 50px;
  width: 80%;
  color: #696a67;
  margin: 0;
  margin-left: 10px;
}
.nav-text .fas, .nav-text .far {
  font-size: 15px;
  margin-right: 10px;
}
.nav-text h3 {
  font-size: 15px;
  margin: 0;
  margin-top: 25px;
  font-weight: 700;
}
.nav-text h4 {
  font-size: 15px;
  margin: 0;
  position: absolute;
  bottom: 50px;
  font-weight: 700;
}
.nav-text h5 {
  font-size: 15px;
  margin: 0;
  position: absolute;
  bottom: 10px;
  font-weight: 700;
  color: white;
}
.nav-text p {
  font-size: 13px;
  margin: 0;
}
#bordino {
  height: 5px;
  width: 80%;
  position: absolute;
  bottom: 40px;
  left: 20px;
  border-bottom: 1px solid #696a67;
}
.box-x img {
  width: 250px;
  max-height: 207px;
}
.bod-y h1 {
  font-size: 35px;
  color: white;
  font-weight: 700;
  margin-bottom: 40px;
}
.box-x p {
  font-size: 13px;
  margin: 0;
  margin-top: 10px;
  text-align: center;
  color: #666969;
}
.box-x h3 {
  font-size: 13px;
  margin: 0;
  margin-top: 10px;
  text-align: center;
  color: white;
  margin-top: 20px;
}
.control-sx img {
  width: 60px;
}
.control-sx p {
  font-size: 10px;
  margin: 0;
  color: #666969;
  margin-left: 10px;
  margin-top: 5px;
}
.control-sx h3 {
  font-size: 14px;
  margin: 0;
  margin-left: 10px;
  margin-top: 15px;
  color: white;
}
.fa-plus {
  margin-top: 25px;
  padding-left: 20px;
  color: #666969;
}
.fa-check {
  margin-top: 25px;
  padding-left: 20px;
  color: #666969;
}
.command-s i {
  font-size: 12px;
  margin-top: 10px;
  color: #666969;
}
.command-s .fa-play-circle {
  font-size: 35px;
  margin: 0;
  color: white;
}
.minut-e p {
  font-size: 10px;
  color: white;
  margin: 5px 15px;
}
.control-dx i {
  font-size: 15px;
  margin-top: 20px;
  color: #666969;
  margin-right: 20px;
}
.head h3 {
  color: #666969;
  font-size: 13px;
  font-weight: 700;
  margin-right: 20px;
}
/* DIV & CONTAINER  */
.flex-cont {
  display: flex;
}
.main {
  flex-direction: row;
  width: 100%;
}
.nav-sx {
  flex-direction: column;
  background: #040503;
  width: 15%;
  height: 87vh;
  align-items: center;
  flex-grow: 3;
  position: relative;
}
.main-right {
  flex-direction: column;
  height: 87vh;
  width: 85%;
  padding-left: 10px;
  background: linear-gradient( #2f393a , #080a07);
  overflow: auto;
}
.head {
  height: 20%;
  justify-content: center;
  align-items: center;
}
.bod-y {
  height: 80%;
  flex-direction: column;
  /* sarebbe superfluo visto che qui ho usato le row di bootstrap
  in un unico container */
}
.box-x{
  width: 100%;
  justify-content: center;
}
.box-x-second{
  width: 100%;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 50px;
}
.box-x div {
  margin-right: 10px;
  width: 20%;
}
.titoli {
  max-width: 1320px;
}
.foot-er {
  width: 100%;
  background: #282828;
  height: 13vh;
  justify-content: space-between;
  padding: 10px 10px;
}
.control-sx {
  width: auto;
  height: 90%;
  flex-direction: row;
}
.control-center {
  width: 28%;
  height: 90%;
  flex-direction: column;
}
.control-dx {
  width: 17%;
  height: 90%;
  flex-direction: row;
  padding-right: 25px;
}
.command-s {
  flex-direction: row;
  justify-content: space-around;
}
.barra-cont {
  flex-direction: row;
  justify-content: space-around;
}
.barra {
  height: 5px;
  background: #666969;
  border-radius: 5px;
  width: 600px;
  margin-top: 11px;
  position: relative;
}
.barra-short {
  height: 5px;
  background: #666969;
  border-radius: 5px;
  width: 90px;
  margin-top: 25px;
  margin-left: 5px;
  position: relative;
}
.p-40 {
  height: 5px;
  background: #1db954;
  border-radius: 5px;
  width: 50%;
  margin-top: 25px;
  margin-left: 5px;
  position: absolute;
  left: -5px;
  bottom: 0;
}
.cerchio {
  width:13px;
	height:13px;
	border-radius:50px;
	background:white;
  position: absolute;
  left: 63px;
  bottom: -4px;
}
.cerchio-vol {
  width:13px;
	height:13px;
	border-radius:50px;
	background:white;
  position: absolute;
  left: 0;
  bottom: -4px;
}
.play-y {
  width:30px;
	height:30px;
	border-radius:50px;
  border: 1px solid #666969;
  margin-top: 0px;
  padding-bottom: 10px;
}
.control-center .fa-caret-right {
  margin-left: 12px;
  margin-top: 4px;
  font-size: 20px;
}
.cerchio-vol.perc-10 {
  left : 10%;
}
.cerchio-vol.perc-20 {
  left : 20%;
}
.cerchio-vol.perc-30 {
  left : 30%;
}
.cerchio-vol.perc-40 {
  left : 40%;
}
.cerchio-vol.perc-50 {
  left : 50%;
}

/* MEDIA QUERY */
@media (min-width: 2000px) {
  .nav-text h4 {
    position: absolute;
    bottom: 60px;
  }
  .nav-text h5 {
    position: absolute;
    bottom: 20px;
  }
  #bordino {
    position: absolute;
    bottom: 50px;
    left: 20px;
  }
  .head h3 {
    font-size: 24px;
    margin-right: 40px;
  }
  .control-sx h3 {
    font-size: 20px;
    margin: 0;
    margin-left: 30px;
    margin-top: 0px;
  }
  .control-sx p {
      font-size: 15px;
      margin: 0;
      color: #666969;
      margin-left: 30px;
      margin-top: 5px;
  }
  .fa-plus {
    margin-top: 20px;
    padding-left: 30px;
  }
  .control-sx img {
    width: 22%;
  }
  .nav-text h3 {
    font-size: 22px;
    margin-top: 30px;
  }
  .nav-text p {
    font-size: 15px;
    margin-top: 40px;
  }
  .nav-text h4 {
    font-size: 15px;
  }
  .nav-text h5 {
    font-size: 15px;
  }
  .control-center {
    margin-top: 10px;
  }
  .control-dx {
    padding-left: 50px;
    margin-top: 10px;
  }
  .control-sx {
    width: 14%;
  }
  .nav-text {
    margin-top: 50px;
  }
  .nav-text p {
    margin-top: 5px;
  }
}
@media (max-width: 1500px) {
  .nav-text h3 {
    font-size: 11px;
  }
  .nav-text p {
    font-size: 11px;
  }
  .control-dx i {
    font-size: 13px;
  }
  .control-dx div {
    /* margin-left: 30px; */
  }
  .control-sx h3 {
    margin-top: 10px;
  }
  .fa-plus {
    margin-top: 20px;
  }
}
@media (max-width: 1240px) {
  .control-sx h3 {
    margin-top: 0px;
  }
  .fa-plus {
    margin-top: 10px;
  }
  .command-s i {
    margin-top: 3px;
  }
  .command-s div {
    margin-top: -5px;
  }
  .barra-cont {
    margin-top: 5px;
  }
  .control-dx {
    width: 18%;
    padding-right: 9px;
    margin-top: -7px;
  }
  .control-sx img {
    width: 25%;
  }
}
@media (max-width: 1000px) {
  .nav-text h3 {
    font-size: 10px;
  }
  .nav-text p {
    font-size: 8px;
  }
  .nav-text h4 {
    font-size: 10px;
  }
  .nav-text h5 {
    font-size: 10px;
  }
  .control-dx {
    width: 22%;
  }
  .control-center {
    width: 38%;
    height: 90%;
  }
}
@media (max-width: 768px) {
  .nav-text h3 {
      font-size: 8px;
  }
  .head h3 {
    font-size: 10px;
  }
  #bordino {
    width: 70%;
    position: absolute;
    bottom: 40px;
    left: 16px;
  }
  .control-dx {
    width: 24%;
  }
  .barra-cont {
    margin-top: 5px;
    width: auto;
  }
  .barra {
    height: 3px;
    width: 600px;
    margin-top: 12px;
    position: relative;
  }
  .cerchio {
    width: 11px;
    height: 11px;
    position: absolute;
    left: 63px;
    bottom: -4px;
  }
  .control-center {
    width: 35%;
    height: 90%;
  }
  .nav-sx {
    display: none;
  }
  .main-right {
    width: 100%;
  }
}
@media (max-width: 650px) {
  .control-dx {
    width: 25%;
    float: right;
  }
  .control-dx i {
    display: none;
  }
  .control-center {
    width: 50%;
    height: 90%;
  }
  .control-sx p {
    font-size: 8px;
  }
  .fa-plus {
    padding-left: 7px;
  }
  .daily h3,.daily p {
    font-size: 10px;
  }
}
@media (max-width: 500px) {
  .head h3 {
    display: none;
  }
  .head .fa-bars {
    font-size: 30px;
  }
  .head {
    justify-content: space-between;
    margin-bottom: 10px;
    margin-right: 50px;
  }
  .logo-i {
    display: block;
    width: 100px;
    margin-left: 30px;
  }
  .box-x {
    flex-basis: 800px;
    flex-direction: column;
    align-items: center;
  }
  .box-x div {
    width: 60%;
    margin-top: 30px;
  }
  .box-x img {
    width: 85%;
    text-align: center;
    display: inherit;
    margin: auto;
  }
  .bod-y h1 {
    margin: auto;
    font-size: 30px;
  }
  .command-s i {
    margin-top: 7px;
    font-size: 7px;
  }
  .fa-plus {
    font-size: 8px;
    margin-top: 15px;
  }
  .daily h3,.daily p {
    font-size: 14px;
  }
}
@media (min-width: 500px) {
  .head .fa-bars {
    display: none;
  }
  .logo-i {
    display: none;
  }
}
@media (min-height: 600px) {
  .foot-er {
    height: 8vh;
  }
  .nav-sx {
    height: 92vh;
  }
  .main-right {
    height: 92vh;
  }
}
@media (min-height: 1100px) {
  .foot-er {
    height: 5vh;
  }
  .nav-sx {
    height: 95vh;
  }
  .main-right {
    height: 95vh;
  }
}
@media (min-height: 680px) and (max-height: 700px) {
  .foot-er {
    height: 10vh;
  }
  .nav-sx {
    height: 90vh;
  }
  .main-right {
    height: 90vh;
  }
}
