/* TYPHOGRAPHY & IMAGES */
* {
  font-family: 'Lato', sans-serif;
}
.logo {
  height: 50px;
  width: 70%;
  margin-top: 15px;
}
.nav-text {
  height: 50px;
  width: 80%;
  color: #696a67;
  margin: 0;
  margin-left: 10px;
}
.nav-text .fas, .nav-text .far {
  font-size: 15px;
  margin-right: 10px;
}
.nav-text h3 {
  font-size: 15px;
  margin: 0;
  margin-top: 20px;
  font-weight: 700;
}
.nav-text h4 {
  font-size: 15px;
  margin: 0;
  margin-top: 120px;
  font-weight: 700;
}
.nav-text h5 {
  font-size: 15px;
  margin: 0;
  margin-top: 110px;
  font-weight: 700;
  color: white;
}
.nav-text p {
  font-size: 13px;
  margin: 0;
  margin-top: 10px;
}
#bordino {
  height: 5px;
  width: 90%;
  padding-bottom: 10px;
  border-bottom: 1px solid #696a67;
}
.box-x img {
  width: 250px;
  max-height: 207px;
}
.bod-y h1 {
  font-size: 35px;
  color: white;
  font-weight: 700;
  margin-bottom: 40px;
}
.box-x p {
  font-size: 13px;
  margin: 0;
  margin-top: 10px;
  text-align: center;
  color: #666969;
}
.box-x h3 {
  font-size: 13px;
  margin: 0;
  margin-top: 10px;
  text-align: center;
  color: white;
  margin-top: 20px;
}
/* DIV & CONTAINER  */
.flex-cont {
  display: flex;
}
.main {
  flex-direction: row;
  width: 100%;
}
.nav-sx {
  flex-direction: column;
  background: #040503;
  width: 15%;
  height: 87vh;
  align-items: center;
  flex-grow: 3;
}
.main-right {
  flex-direction: column;
  height: 87vh;
  width: 85%;
  background: linear-gradient( #252f1d , #080a07);
  overflow: scroll;
}
.head {
  height: 20%;
}
.bod-y {
  height: 80%;
  flex-direction: column;
  /* sarebbe superfluo visto che qui ho usato le row di bootstrap
  in un unico container */
}
.box-x{
  width: 100%;
  justify-content: center;
}
.box-x-second{
  width: 100%;
  justify-content: center;
  margin-top: 70px;
}
.box-x div {
  margin-right: 10px;
  width: 20%;
}
.titoli {
  max-width: 1320px;
}
.foot-er {
  width: 100%;
  background: #282828;
  height: 13vh;
  justify-content: space-between;
  padding: 10px 10px;
}
.control-sx {
  width: 12%;
  height: 90%;
  background: rgb(134, 172, 185);
}
.control-center {
  width: 28%;
  height: 90%;
  background: rgb(134, 172, 185);
}
.control-dx {
  width: 9%;
  height: 90%;
  background: rgb(134, 172, 185);
}
/* MEDIA QUERY */
